

.input-cell {
  font-size: 12px;
  text-align: end;
  padding-right: 8px;
  height: 35px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 3px;
  outline: none;
}

.table-input-wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-wrap: wrap;
  height: "100%";
}

.table-box {
  width: auto !important;
  overflow: auto !important;
}



.form-input:focus {
  border: 1px solid #25a353 !important;
  outline: 3px solid #25a35367;
}


.bg-indigo-900 {
  --tw-bg-opacity: 1;
  background-color: #2f2d66 !important;
}